{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Firefox versions"
          ],
          "node": "8.10"
        },
        "useBuiltIns": "usage",
        "shippedProposals": true
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "import-css-to-jss",
    "import-md-to-js",
    "@babel/plugin-transform-runtime",
    [ "@babel/plugin-proposal-decorators", { "legacy": true } ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
