{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Firefox versions"
          ],
          "node": "13.0.0"
        },
        "useBuiltIns": "usage",
        "shippedProposals": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime", ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
